body {
    background-color: black;
    height: 100vh;
}

h1 {
    margin: 10px 0;
    text-transform: uppercase;
    font-size: 2.8rem;
}

p {
    margin: 0 0 10px;
    font-size: large;
}

.poster {
    background-color:white;
    width: 30%;
    min-height: 50vh;
    margin: 10% auto 0;
    /* margin-left: auto; */
    /* margin-right: auto; */
    
    /* margin-left: 20%; */
    text-align:center;
}

.meme {
    width: 96%;
    height: auto;
    /* height: 75%; */
    margin-top: 2%;
}
